{% extends 'base.html' %}

{% block content %}
<div class="appointmentPage">
<form method="post">{% csrf_token %}
    <div class="theForm">
        <h1>Let us meet you</h1>
    {{form.as_p}}
    <button type="submit" id="submitForm">Submit</button>
    </div>
</form>
{% if success_message %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        $(document).ready(function() {
            toastr.success("{{ success_message }}");
        });
    </script>
    {% endif %}

{% if error_message %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        $(document).ready(function() {
            toastr.error("{{ error_message }}");
        });
    </script>
    {% endif %}
</div>


{% endblock %}