{% extends 'base.html' %}

{% block content %}
<div class="homePageMobile">
    <h1>We Help Your Loved Ones<br/>
        <span>Stay Healthy.</span></h1>
        <a href = '/appointment'><button type="button" id="appointButton"><b>Book Appointment</b></button></a>
</div>
<div class = homepage>
    <div class="homeContent">
    <h1>We Help Your Loved Ones<br/>
    <span>Stay Healthy.</span></h1>
    <a href = '/appointment'><button type="button" id="appointButton"><b>Book Appointment</b></button></a>
</div>
</div>


<div class="offers">
    <h1>What We Offer</h1>
    <div class="offerblocks">
        <div class="offer1">
            <h3>Qualified Doctors</h3>
            <p>We pride ourselves on providing exceptional care led by highly qualified doctors.
                Our team consists of experienced specialists.
            </p>
        </div>

        <div class="offer2">
            <h3>Emergency Care</h3>
            <p>Our dedicated emergency department operates 24/7, staffed by experienced medical professionals
                trained to handle all types of urgent medical conditions.
            </p>
        </div>

        <div class="offer3">
            <h3>Online Consultations</h3>
            <p>Whether you seek medical advice, need prescription refills or have follow-up questions,
                our secure platform ensures efficient communication.
            </p>
        </div>

        <div class="offer4">
            <h3>24-hour Service</h3>
            <p>We are committed to providing round-the-clock medical care for your peace of mind.
                Our facility operates 24 hours a day, 7 days a week.
            </p>
        </div>
    </div>
</div>

{% endblock %}